option_settings:
  aws:elasticbeanstalk:application:environment:
    FLASK_ENV: production
  aws:elasticbeanstalk:container:python:
    WSGIPath: webapp.backend.app:app
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /api/status
    HealthCheckTimeout: 10
    HealthCheckInterval: 30
